@-moz-document domain(bing.com){
:root{ 
        --bg_1:#212121;
        --bg_2:#262626;
        --bg_3:#333;
        --bg_4:#454545;
        --bg_hover:#ffffff17;
        --border_c:#444;
        --color_0:#000;
        --color_1:#dddee1;
        --color_2:#fff;
        --color_3:#aaa;
        --link:#82c7ff ;
        --link_visited:#6014e0;
      
      --KcWpPrimary:var(--bg_3);
}}
@-moz-document 
url-prefix(https://www.bing.com/search){
 /*bg_1 & color*/ 
body,.b_footer,.b_footer *
{background:var(--bg_1)!important;color:var(--color_1)!important;}

/*bg_1*/
#b_results
{background-color:var(--bg_1)!important;}

/*bg_2*/
.vrhcprac
{background:var(--bg_2)!important;}

/*bg_3*/
#b_results 
{background-color:var(--bg_3)!important;background-image:var(--bg_3)!important;}

.sa_hv
{background:var(--bg_4)!important;}

/*color_0*/
#b_context
{color:var(--color_0)!important;}
/*color_1*/ 
header *
{color:var(--color_1)!important;}

/*color_2*/
.b_caption, .snippet
{color:var(--color_2)!important;}
/*color_3*/
#b_results .tpcn .b_attribution cite
{color:var(--color_3)!important;}

strong{color: inherit!important;}

/*link_visited*/
.link:visited
{color:var(--link_visited)!important;}

/*link*/ 
.link,#b_results>li h2 a,#b_results>li h3 a,
a .b_title
{color:var(--link)!important;}


/*butony*/
    .cbtn input, .b_wpTabsWrapper a:not(.ent-dtab-ovr-nl)
   {
    background-color:var(--bg_3)!important;
     border-color:var(--border_c)!important;
    color:var(--color_2)!important;
    } 
/* search */
.b_searchboxForm, .b_searchbox:not(.qfc), 
input[type=text]
{
    background: var(--bg_3)!important;
    border-color: var(--border_c)!important;
  color:var(--color_1)!important;
}
.sbiIdc{border: none!important;}
.inline_tile .carousel{box-shadow: none!important; padding:0 10px;}
#b_header, #HBContent {
    border: none;
    box-shadow: 0 0 4px #000;
}
.b_widgetIcon,#wikiWidgetContainer img
{filter:invert(1);}
.b_rebateSlug .algoSlug_icon, .b_algoSlug .algoSlug_icon
{border: 1px solid;}
}